{% extends 'home.html' %}
{% load bootstrap5 %}
{% block title %}
    Nowy mecz
{% endblock %}
{% block game_subpage %}
    <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <button class="btn btn-info">
                <input class="btn" type="submit" value="Dodaj"/>
            </button>
        </p>
    </form>
    <hr>
    Drugi form
    <div class="container">
        {#        <div class="row">#}
        {% for field in form %}
            {% if field.name == 'game' or field.name == 'result' %}
                <div class="row">
                    <b>{{ field.label_tag }}</b> - {{ field }}
                </div>
            {% else %}
                <b>{{ field.label_tag }}</b> - {{ field }}
            {% endif %}

        {% endfor %}
        {#        </div>#}
    </div>
{% endblock %}

